html {
    height: 100%;
    margin: 0;
}

body {
    min-height: 100;
    margin: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    margin-top: 150%;
}

.team {
    width: 100%;
    background-color: rgb(17, 207, 144);

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.team-member {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;

    margin: 20px;
}

.team-member img {
    width: 100%;
    height: 100px;
    
    object-fit: contain;
}